@import 'tailwindcss';

@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/jetbrainsmono-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 800;
	src: url('/fonts/jetbrainsmono-bold.woff2') format('woff2');
}

@theme {
	--font-display: 'JetBrains Mono', sans-serif;

	/*--color-*: initial;*/
	/*--color-inherit: inherit;*/
	/*--color-transparent: transparent;*/
	/*--color-current: currentColor;*/
	/*--color-black: rgb(0 0 0);*/
	/*--color-white: rgb(255 255 255);*/
}

@theme {
	--animate-fade: fadeIn 0.25s ease-in-out;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

html {
	font-family: var(--font-display);
}
